@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
    @apply px-4 py-2 font-bold rounded;
}

.btn-blue {
    @apply text-white bg-blue-500;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.chat-body {
    display: flex;
    flex-direction: column-reverse;
}

.tooltip {
    @apply absolute invisible;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
